@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-color:#facc15;
}
*{
    font-family: 'Paprika', cursive;
    color: #333333;
    margin: auto;
    padding: 0;
}
main{
    max-width: 600px;
    padding: 1rem;
    margin: auto;
}
.navbar{
    padding: 2rem;
    background:var(--primary-color);
    text-align: center;
    font-weight: bolder;
    font-size: 2rem;
}

.text-box{
    box-sizing: border-box;
    display: block;
    width: 100%;
    padding: 2rem;
    max-height: 20vh;
    font-size: large;
}

.submit-btn{
    background:var(--primary-color);
    margin-top: 0.5rem;
    border-style: none;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    text-align: center;
    width:15rem;
    height:4rem;
}

.para{
    margin-top:1rem;
}

.output-box{
    box-sizing: border-box;
    border: 1px solid black;
    margin-top: 2rem;
    overflow: scroll;
    max-width:40rem;
    padding: 2rem;
}

.footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: var(--primary-color);
    padding: 1rem;
    text-align: center;
}

.footer-container{
    text-align: center;
    padding-bottom: 0.5rem;
}
.footer p{
    max-width: 600px;
    margin: auto;
}